<div class="table-title">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <a routerLink="/" style="text-decoration: none; color: white">
          <h2>Student Management</h2>
        </a>
      </div>
      <div class="col-12 col-sm-6">
        <a
          routerLink="/add"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#addEmployeeModal"
        >
          <i class="fa-solid fa-circle-plus"></i>
          <span>Add New Student</span>
        </a>
      </div>
    </div>
  </div>
</div>
