<section class="main-content py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm">
          <div class="card-body">
              <h1 class="alert alert-danger text-center p-4 fw-bold">Delete student</h1>
            <table class="table table-bordered text-center caption-top">
              <tbody>
                <tr>
                  <th>Full Name</th>
                  <td>{{ student.fullName }}</td>
                </tr>
                <tr>
                  <th>Age</th>
                  <td>{{ student.age }}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{ student.email }}</td>
                </tr>
                <tr>
                  <th>Class</th>
                  <td>{{ student.class }}</td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between text-center mt-4">
              <button class="btn btn-danger py-2 px-4" (click)="delete()">
                Confirm Delete
              </button>
              <a class="btn btn-secondary py-2 px-4" routerLink="/">Back To List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
